<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">나만의 페이지</h1>

<div class="row">

  <div class="col-6">
    <p>
      <% if @profile.user.profileimage.url != nil %>
        <%= image_tag @profile.user.profileimage.url %> <br> 
      <% elsif @profile.user.gender == "female" && @profile.user.ages == "10대이하"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-379-456331.png") %><br>
      <% elsif @profile.user.gender == "female" && @profile.user.ages == "20-30대"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-373-456325.png") %><br>
      <% elsif @profile.user.gender == "female" && @profile.user.ages == "40-50대"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-369-456321.png") %><br>
      <% elsif @profile.user.gender == "female" && @profile.user.ages == "60대이상"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-377-456329.png") %><br>

      <% elsif @profile.user.gender == "male" && @profile.user.ages == "10대이하"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png") %><br>
      <% elsif @profile.user.gender == "male" && @profile.user.ages == "20-30대"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-380-456332.png") %><br>
      <% elsif @profile.user.gender == "male" && @profile.user.ages == "40-50대"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png") %><br>
      <% elsif @profile.user.gender == "male" && @profile.user.ages == "60대이상"%>
        <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-376-456328.png") %><br>
      <% end %>
        <%= link_to '개인정보/이미지 업데이트', edit_user_registration_path %> 
    </p>
  </div>

  <div class="col-6">
    <p>
      <strong>회원님: </strong>
      <%= @profile.user.name %> 
      <%# (<%= @profile.user.nickname%>
    </p>

    <p>
      <strong>나이: </strong>
      <%= @profile.user.ages %> 
    </p>

    <p>
      <strong>알레르기정보 </strong>
      <%= @profile.user.allergy.gsub(',','') %> 
    </p>
  </div>

</div>

<hr />

<div class="row">

  <div>
    <h3 id="spreadBtn1">라이크한 식당들 (최근 5) 클릭하면 좁아짐</h3>
      <div id="hiddenList1">
        <% @profile.user.following_by_type('Zizuminfo').order("created_at desc").limit(5).each do |zizum| %> 
            <% if zizum.followed_by?(@profile.user) %>
              <p>
                <%= image_tag zizum.image.url unless zizum.image.blank?%>
                <%= link_to "#{zizum.restaurant_name}", zizuminfo_path(zizum.id) %> <br>
                <%= link_to "#{zizum.zizum_name}", zizuminfo_path(zizum.id) %> <br>
                <%= zizum.followers_count%> x <%= fa_icon('heart', class: "like icon") %>
                <% if @profile.user == current_user %>
                  <%= link_to fa_icon('trash'), profile_follow_destroy_path(zizum.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
                <% end %>
              </p>
            <% end %>
        <% end %>
      </div>
  </div>
</div>

<hr />

<!-- 
<% if false %>

<div class="row">

  <div class="col-12">
    <h3 id="spreadBtn2">라이크한 게시글 (최근 5) 클릭하면 좁아짐</h3>
      <ul id="hiddenList2">
        <% @profile.user.following_by_type('Article').order("created_at desc").limit(5).each do |article| %>
          <li> <% if article.articleimage.thumb.url != nil %>
            <%= link_to image_tag(article.articleimage.thumb.url), article_path(article.id) %> <br><% end %>
            <%= link_to article.title, article_path(article.id) %>
            <% if @profile.user == current_user %> 
              <%= link_to fa_icon('trash'), article_follow_destroy_path(article.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-12">
    <h3 id="spreadBtn3">자신이 쓴 게시글 (최근 5) 클릭하면 좁아짐</h3>
      <ul id="hiddenList3">
        <% @profile.user.articles.order("created_at desc").limit(5).each do |article| %>
          <li>  <% if article.articleimage.thumb.url != nil %>
            <%= link_to image_tag(article.articleimage.thumb.url), article_path(article.id) %> <br><% end %>
            <%= link_to article.title, article_path(article.id) %>
            <% if @profile.user == current_user %>  
              <%= link_to fa_icon('trash'), article_destroy_path(article.id), method: :DELETE, data: {confirm: '게시물을 삭제하시겠습니까?'} %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>

<% end %>

<hr />
-->

<script>

    $(document).ready(function(){
      $("#spreadBtn1").click(function(){
          if($("#hiddenList1").is(":visible")){
            // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
              $("#hiddenList1").slideUp();
          }else{
              // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
              $("#hiddenList1").slideDown();
          }
      });
    }); 
    $(document).ready(function(){
        $("#spreadBtn2").click(function(){
            if($("#hiddenList2").is(":visible")){
              // $("#spreadBtn2").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
                $("#hiddenList2").slideUp();
            }else{
                // $("#spreadBtn2").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
                $("#hiddenList2").slideDown();
            }
        });
    }); 
    $(document).ready(function(){
        $("#spreadBtn3").click(function(){
            if($("#hiddenList3").is(":visible")){
              // $("#spreadBtn3").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
                $("#hiddenList3").slideUp();
            }else{
                // $("#spreadBtn3").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
                $("#hiddenList3").slideDown();
            }
        });
    });
</script> 