<!-- Button Effect & Font Style -->
<link rel="stylesheet" type="text/css" href="profiles.scss" />

<style type="text/scss">
  body { font-family: 'Jeju Myeongjo', serif; }
  h1 { font-weight: bold; }
</style>


<p id="notice"><%= notice %></p>



<!-- My Page : Open-->
<body class="jeju">

<h1 class="jeju" style="text-align: center;">나만의 페이지</h1> 
<br> <br> <br>

<div class="row jeju">
  <!-- 프로필 이미지 -->
  <div class="col-6 jeju">
    <p align="center">
      <br>
      <% if @profile.user.profileimage.url != nil %>
      <%= image_tag @profile.user.profileimage.url %> <br> <%end %> <br>
      <!-- <%= link_to '개인정보 변경', edit_user_registration_path %>   
      수정 버튼 위치 1 : UNACTIVATED -->
    </p>
  </div>

  <!-- 개인 정보 창 -->
  <div class="col-6 jeju">
    <p>  <!-- user name -->
      <strong> <%= @profile.user.name %> </strong> 님, 안녕하세요 !
      <%# (<%= @profile.user.nickname%>
    </p>

    <p>  <!-- user ages -->
      <strong>연령 : </strong>
      <%= @profile.user.ages %> 
    </p>

    <p>  <!-- user allergy -->
      <strong>주의해야 할 음식 : </strong>
      <%= @profile.user.allergy.gsub(',','') %> 
    </p>

    <br>
    <div align="right">
      <button class="fill mbutton">  <!-- 수정 버튼 위치 2 -->
        <%= link_to '개인정보 변경', edit_user_registration_path, :style=> "color:black; text-decoration: none;" %>
      </button>
    </div>
  </div>

</div> <!-- My Page : Close -->



<!-- user activities -->
<hr />  

<div class="row jeju"> <!-- like - restaurants -->
  <div class="col-12">
    <h4 id="spreadBtn1"> <strong>내가 좋아한 식당 (최근 5) </strong> : 클릭하면 좁아짐</h4>
      <ul id="hiddenList1">
        <% @profile.user.following_by_type('Zizuminfo').order("created_at desc").limit(5).each do |zizum| %>
          <li> 
            <% if zizum.followed_by?(@profile.user) %>
              <p>
                <%= link_to "#{zizum.restaurant_name}  [#{zizum.zizum_name}]", zizuminfo_path(zizum.id) %>
                <% if @profile.user == current_user %>
                  <%= link_to fa_icon('trash'), profile_follow_destroy_path(zizum.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
                <% end %>
              </p>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>  <!-- like - restaurants : close -->

</body>
<!-- Market Close : UNACTIVATED -->

<!-- <hr />
<div class="row"> 
  <div class="col-12">
    <h5 id="spreadBtn2">라이크한 게시글 (최근 5) 클릭하면 좁아짐</h5>
      <ul id="hiddenList2">
        <% @profile.user.following_by_type('Article').order("created_at desc").limit(5).each do |article| %>
          <li> <% if article.articleimage.thumb.url != nil %>
            <%= link_to image_tag(article.articleimage.thumb.url), article_path(article.id) %> <br><% end %>
            <%= link_to article.title, article_path(article.id) %>
            <% if @profile.user == current_user %> 
              <%= link_to fa_icon('trash'), article_follow_destroy_path(article.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div> 

Liked article : HIDDEN -->


<!-- <hr />
<div class="row">  
  <div class="col-12">
    <h5 id="spreadBtn3">자신이 쓴 게시글 (최근 5) 클릭하면 좁아짐</h5>
      <ul id="hiddenList3">
        <% @profile.user.articles.order("created_at desc").limit(5).each do |article| %>
          <li>  <% if article.articleimage.thumb.url != nil %>
            <%= link_to image_tag(article.articleimage.thumb.url), article_path(article.id) %> <br><% end %>
            <%= link_to article.title, article_path(article.id) %>
            <% if @profile.user == current_user %>  
              <%= link_to fa_icon('trash'), article_destroy_path(article.id), method: :DELETE, data: {confirm: '게시물을 삭제하시겠습니까?'} %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div> 

Written article : HIDDEN -->

<hr />





<script>

    $(".icon").click(function(){
        if ($(this).hasClass("like")) //follow하고 있다면
            {
                $(this).removeClass("like");
                $(this).addClass("unlike");
            }
        else if ($(this).hasClass("unlike"))
            {
                $(this).removeClass("unlike");
                $(this).addClass("like");
            }
    });

    $(document).ready(function(){
      $("#spreadBtn1").click(function(){
          if($("#hiddenList1").is(":visible")){
            // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
              $("#hiddenList1").slideUp();
          }else{
              // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
              $("#hiddenList1").slideDown();
          }
      });
    }); 
    $(document).ready(function(){
        $("#spreadBtn2").click(function(){
            if($("#hiddenList2").is(":visible")){
              // $("#spreadBtn2").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
                $("#hiddenList2").slideUp();
            }else{
                // $("#spreadBtn2").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
                $("#hiddenList2").slideDown();
            }
        });
    }); 
    $(document).ready(function(){
        $("#spreadBtn3").click(function(){
            if($("#hiddenList3").is(":visible")){
              // $("#spreadBtn3").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
                $("#hiddenList3").slideUp();
            }else{
                // $("#spreadBtn3").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
                $("#hiddenList3").slideDown();
            }
        });
    });
</script> 