<h3>검색하기(알레르기 있다면 체크)</h3>
<%= form_tag(menus_path, method: :get) do %>
    시/도 입력(ex. 서울특별시): 
    <%#= select :sido, options_for_select([["서울특별시", "서울특별시"], ["부산광역시","부산광역시"], ["대구광역시","대구광역시"],["60대이상","60대이상"]]) %>  
    <select name="sido">
        <option value="서울특별시">서울특별시</option>
        <option value="부산광역시">부산광역시</option>
        <option value="대구광역시">대구광역시</option> 
        <option value="인천광역시">인천광역시</option>     
        <option value="광주광역시">광주광역시</option>
        <option value="대전광역시">대전광역시</option>
        <option value="세종특별자치시">세종특별자치시</option> 
        <option value="경기도">경기도</option>
        <option value="강원도">강원도</option>
        <option value="충청북도">충청북도</option>
        <option value="충청남도">충청남도</option> 
        <option value="전라북도">전라북도</option>
        <option value="전라남도">전라남도</option>
        <option value="경상북도">경상북도</option>
        <option value="경상남도">경상남도</option> 
        <option value="제주특별자치시">제주특별자치시</option>
    </select>
    <br><br>
    시/군/구 입력(ex. 용산구):
    <button type="button" class="jikjup">직접 입력</button>
    <button type="button" class="all">전체 선택</button>
    
    <%# 직접 입력할 경우 아래와 같은 field 뜨게%>
    <%= text_field_tag :sigungu, params[:sigungu], :class => "sigungu-enter m-3",:id => "location", :placeholder => "시군구 직접 입력"%>
    

    <br>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">유제품 및 난류 <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a9_nanryu, checked = true%> 난류<br>
                <%= check_box_tag :a10_milk, checked = true%> 우유<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">과채류 및 곡류  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a6_peach, checked = true%> 복숭아<br>
                <%= check_box_tag :a7_tomato, checked = true%> 토마토<br>
                <%= check_box_tag :a1_maemil, checked = true%> 메밀<br>
                <%= check_box_tag :a2_mil, checked = true%> 밀<br>
                <%= check_box_tag :a3_daedu, checked = true%> 대두(콩)<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">육류  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a11_ddakgogi, checked = true%> 닭고기<br>
                <%= check_box_tag :a12_shoigogi, checked = true%> 쇠고기<br>
                <%= check_box_tag :a8_piggogi, checked = true%> 돼지고기<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">어패류  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a13_saewoo, checked = true%> 새우<br>
                <%= check_box_tag :a14_godeungeoh, checked = true%> 고등어<br>
                <%= check_box_tag :a15_honghap, checked = true%> 홍합<br>
                <%= check_box_tag :a16_junbok, checked = true%> 전복<br>
                <%= check_box_tag :a17_gul, checked = true%> 굴<br>
                <%= check_box_tag :a18_jogaeryu, checked = true%> 조개류<br>
                <%= check_box_tag :a19_gye, checked = true%> 게<br>
                <%= check_box_tag :a20_ohjingeoh, checked = true%> 오징어<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">과류, 아황산 및 기타  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a4_hodu, checked = true%> 호두<br>
                <%= check_box_tag :a5_ddangkong, checked = true%> 땅콩<br>
                <%= check_box_tag :a21_ahwangsan, checked = true%> 아황산류<br>
<<<<<<< HEAD
<<<<<<< HEAD
<div id="default"> 
    <%= form_tag(menus_path, method: :get) do %>
        <%= text_field_tag :sido, params[:sido]%>
        <br>
        <div class="d-flex justify-content-between">
            <div>
                <div class="a-type"><button type="button" class="btn btn-outline-secondary">유제품 및 난류</button></div>
                <div class="allergy-check">
                    난류: <%= check_box_tag :a9_nanryu, checked = true%><br>
                    우유: <%= check_box_tag :a10_milk, checked = true%><br>
                </div>
            </div>
            <div>
                <div class="a-type"><button type="button" class="btn btn-outline-secondary">과채류 및 곡류</button></div>
                <div class="allergy-check">
                    복숭아: <%= check_box_tag :a6_peach, checked = true%><br>
                    토마토: <%= check_box_tag :a7_tomato, checked = true%><br>
                    메밀: <%= check_box_tag :a1_maemil, checked = true%><br>
                    밀: <%= check_box_tag :a2_mil, checked = true%><br>
                    대두(콩): <%= check_box_tag :a3_daedu, checked = true%><br>
                </div>
            </div>
            <div>
                <div class="a-type"><button type="button" class="btn btn-outline-secondary">육류</button></div>
                <div class="allergy-check">
                    닭고기: <%= check_box_tag :a11_ddakgogi, checked = true%><br>
                    쇠고기: <%= check_box_tag :a12_shoigogi, checked = true%><br>
                    돼지고기: <%= check_box_tag :a8_piggogi, checked = true%><br>
                </div>
            </div>
            <div>
                <div class="a-type"><button type="button" class="btn btn-outline-secondary">어패류</button></div>
                <div class="allergy-check">
                    새우: <%= check_box_tag :a13_saewoo, checked = true%><br>
                    고등어: <%= check_box_tag :a14_godeungeoh, checked = true%><br>
                    홍합: <%= check_box_tag :a15_honghap, checked = true%><br>
                    전복: <%= check_box_tag :a16_junbok, checked = true%><br>
                    굴: <%= check_box_tag :a17_gul, checked = true%><br>
                    조개류: <%= check_box_tag :a18_jogaeryu, checked = true%><br>
                    게: <%= check_box_tag :a19_gye, checked = true%><br>
                    오징어: <%= check_box_tag :a20_ohjingeoh, checked = true%><br>
                </div>
            </div>
            <div>
                <div class="a-type"><button type="button" class="btn btn-outline-secondary">과류, 아황산 및 기타</button></div>
                <div class="allergy-check">
                    호두: <%= check_box_tag :a4_hodu, checked = true%><br>
                    땅콩: <%= check_box_tag :a5_ddangkong, checked = true%><br>
                    아황산류: <%= check_box_tag :a21_ahwangsan, checked = true%><br>
                </div>
=======
>>>>>>> 7f830e0209f7d156b931e599e835d5d9991c1bc5
=======
>>>>>>> 7dc5bce62a3f446f0a75516576fcb0bf7f87cf1b
            </div>
        </div>
        <%= submit_tag 'Search'%>
    <%end%>    
</div>

<!--- custom 검색옵션 -->
<% if user_signed_in? %> 
    <div id="myinfo" style="display:none;">
        <%= render partial: 'layouts/custom' %>
    </div>    
<%else%>
<%end%>

<button id="custom">내 알러지정보 불러오기</button>
<%# <button id="reset" onClick="funcreset()">초기화</button> %>
<%# <p id="myinfo" style="display:none;">로그인해주세요</p> %>


<script>
    $('.a-type').click(function() {
        //toggle class 가 안먹음.
        if ( $(this).next(".allergy-check").css('visibility') == 'hidden' ){
            //내릴 때. 
            $(this).next(".allergy-check").css('visibility','visible');
            $(this).children(".btn").children("i").removeClass("fa-caret-down");
            $(this).children(".btn").children("i").addClass("fa-caret-up");
        }
        else{
            //올릴 때.
            $(this).next(".allergy-check").css('visibility','hidden');
             $(this).children(".btn").children("i").removeClass("fa-caret-up");
             $(this).children(".btn").children("i").addClass("fa-caret-down");
            
        }
    });

    //experiment는 눌렸다는 것 임시로 표시하기 위해서.
    $(".jikjup").click(function(){
        if( $(".all").hasClass("experiment")){
            $(".all").removeClass("experiment");
        }
        
        $(this).toggleClass("experiment");

        if ( $(".sigungu-enter").css('visibility')=='hidden'){
            $(".sigungu-enter").css('visibility', 'visible');
        }
        else
            $(".sigungu-enter").css('visibility','hidden');

        document.getElementById("location").value="";

    });

    $(".all").click(function(){
         if( $(".jikjup").hasClass("experiment")){
            $(".jikjup").removeClass("experiment");
            $(".sigungu-enter").css('visibility','hidden');
        }

         $(this).toggleClass("experiment");
         document.getElementById("location").value="전체";
    });
    
</script>

