<h3>검색하기(알레르기 있다면 체크)</h3>
<div id ="basic">
<%= form_tag(menus_path, method: :get) do %>
    메밀: <%= check_box_tag :a1_maemil, checked = true%><br> 
    밀: <%= check_box_tag :a2_mil, checked = true%><br>
    대두: <%= check_box_tag :a3_daedu, checked = true%><br>
    호두: <%= check_box_tag :a4_hodu, checked = true%><br>
    땅콩: <%= check_box_tag :a5_ddangkong, checked = true%><br>
    복숭아: <%= check_box_tag :a6_peach, checked = true%><br>
    토마토: <%= check_box_tag :a7_tomato, checked = true%><br>
    돼지고기: <%= check_box_tag :a8_piggogi, checked = true%><br>
    난류: <%= check_box_tag :a9_nanryu, checked = true%><br>
    우유: <%= check_box_tag :a10_milk, checked = true%><br>
    닭고기: <%= check_box_tag :a11_ddakgogi, checked = true%><br>
    쇠고기: <%= check_box_tag :a12_shoigogi, checked = true%><br>
    새우: <%= check_box_tag :a13_saewoo, checked = true%><br>
    고등어: <%= check_box_tag :a14_godeungeoh, checked = true%><br>
    홍합: <%= check_box_tag :a15_honghap, checked = true%><br>
    전복: <%= check_box_tag :a16_junbok, checked = true%><br>
    굴: <%= check_box_tag :a17_gul, checked = true%><br>
    조개류: <%= check_box_tag :a18_jogaeryu, checked = true%><br>
    게: <%= check_box_tag :a19_gye, checked = true%><br>
    오징어: <%= check_box_tag :a20_ohjingeoh, checked = true%><br>
    아황산: <%= check_box_tag :a21_ahwangsan, checked = true%><br>
    <%= submit_tag 'Search'%>
<% end %>
</div>

<% if user_signed_in? %> 
    <div id="myinfo" style="display:none;">
        <%= form_tag(menus_path, method: :get) do %>
    메밀: <%= check_box_tag :a1_maemil,true, current_user.allergy.include?('메밀')%><br> 
    밀: <%= check_box_tag :a2_mil, true, current_user.allergy.include?('밀')%><br>
    대두: <%= check_box_tag :a3_daedu, true, current_user.allergy.include?('대두')%><br>
    호두: <%= check_box_tag :a4_hodu, true, current_user.allergy.include?('호두')%><br>
    땅콩: <%= check_box_tag :a5_ddangkong, true, current_user.allergy.include?('땅콩')%><br>
    복숭아: <%= check_box_tag :a6_peach, true, current_user.allergy.include?('복숭아')%><br>
    토마토: <%= check_box_tag :a7_tomato, true, current_user.allergy.include?('토마토')%><br>
    돼지고기: <%= check_box_tag :a8_piggogi, true, current_user.allergy.include?('돼지고기')%><br>
    난류: <%= check_box_tag :a9_nanryu, true, current_user.allergy.include?('난류') %><br>
    우유: <%= check_box_tag :a10_milk, true, current_user.allergy.include?('우유')%><br>
    닭고기: <%= check_box_tag :a11_ddakgogi, true, current_user.allergy.include?('닭고기')%><br>
    쇠고기: <%= check_box_tag :a12_shoigogi, true, current_user.allergy.include?('쇠고기')%><br>
    새우: <%= check_box_tag :a13_saewoo, true, current_user.allergy.include?('새우')%><br>
    고등어: <%= check_box_tag :a14_godeungeoh,true, current_user.allergy.include?('고등어')%><br>
    홍합: <%= check_box_tag :a15_honghap,true, current_user.allergy.include?('홍합')%><br>
    전복: <%= check_box_tag :a16_junbok,true, current_user.allergy.include?('전복')%><br>
    굴: <%= check_box_tag :a17_gul, true, current_user.allergy.include?('굴')%><br>
    조개류: <%= check_box_tag :a18_jogaeryu, true, current_user.allergy.include?('조개류')%><br>
    게: <%= check_box_tag :a19_gye, true, current_user.allergy.include?('게')%><br>
    오징어: <%= check_box_tag :a20_ohjingeoh,true, current_user.allergy.include?('오징어')%><br>
    아황산: <%= check_box_tag :a21_ahwangsan, true, current_user.allergy.include?('아황산')%><br>
    <%= submit_tag 'Search'%>
<% end %>
<%else%>
<%end%>
</div>
<button id="custom">내 알러지정보 불러오기</button>
<%# <button id="reset" onClick="funcreset()">초기화</button> %>
<%# <p id="myinfo" style="display:none;">로그인해주세요</p> %>

<script>
var myinfo = document.getElementById("myinfo");
var btn = document.getElementById('custom');
var basic = document.getElementById("basic")

btn.onclick = function(){
    myinfo.style.display="block";
    basic.style.display="none";
}

// function funcreset(){}

</script>