<h3>검색하기(알레르기 있다면 체크)</h3>
<div id="default">
<%= form_tag(menus_path, method: :get) do %>
    시/도 입력(ex. 서울특별시): <%= text_field_tag :sido, params[:sido]%><br><br>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">유제품 및 난류 <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a9_nanryu, checked = true%> 난류<br>
                <%= check_box_tag :a10_milk, checked = true%> 우유<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">과채류 및 곡류  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a6_peach, checked = true%> 복숭아<br>
                <%= check_box_tag :a7_tomato, checked = true%> 토마토<br>
                <%= check_box_tag :a1_maemil, checked = true%> 메밀<br>
                <%= check_box_tag :a2_mil, checked = true%> 밀<br>
                <%= check_box_tag :a3_daedu, checked = true%> 대두(콩)<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">육류  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a11_ddakgogi, checked = true%> 닭고기<br>
                <%= check_box_tag :a12_shoigogi, checked = true%> 쇠고기<br>
                <%= check_box_tag :a8_piggogi, checked = true%> 돼지고기<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">어패류  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a13_saewoo, checked = true%> 새우<br>
                <%= check_box_tag :a14_godeungeoh, checked = true%> 고등어<br>
                <%= check_box_tag :a15_honghap, checked = true%> 홍합<br>
                <%= check_box_tag :a16_junbok, checked = true%> 전복<br>
                <%= check_box_tag :a17_gul, checked = true%> 굴<br>
                <%= check_box_tag :a18_jogaeryu, checked = true%> 조개류<br>
                <%= check_box_tag :a19_gye, checked = true%> 게<br>
                <%= check_box_tag :a20_ohjingeoh, checked = true%> 오징어<br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">과류, 아황산 및 기타  <i class="fas fa-caret-down"></i></button></div>
            <div class="allergy-check">
                <%= check_box_tag :a4_hodu, checked = true%> 호두<br>
                <%= check_box_tag :a5_ddangkong, checked = true%> 땅콩<br>
                <%= check_box_tag :a21_ahwangsan, checked = true%> 아황산류<br>
            </div>
        </div>
        </div>
        <%= submit_tag 'Search'%>
    <%end%>    
</div>


<!--- custom 검색옵션 -->
<% if user_signed_in? %> 
    <div id="myinfo" style="display:none">
        <%= render partial: 'layouts/custom' %>
    </div>    
<%else%>
<%end%>

<button id="custom" onClick="custom_on()">내 알러지정보 불러오기</button>
<%# <button id="reset" onClick="funcreset()">초기화</button> %>
<%# <p id="myinfo" style="display:none;">로그인해주세요</p> %>


<script>
    $('.a-type').click(function() {
        //toggle class 가 안먹음.
        if ( $(this).next(".allergy-check").css('visibility') == 'hidden' ){
            //내릴 때. 
            $(this).next(".allergy-check").css('visibility','visible');
            $(this).children(".btn").children("i").removeClass("fa-caret-down");
            $(this).children(".btn").children("i").addClass("fa-caret-up");
        }
        else{
            //올릴 때.
            $(this).next(".allergy-check").css('visibility','hidden');
             $(this).children(".btn").children("i").removeClass("fa-caret-up");
             $(this).children(".btn").children("i").addClass("fa-caret-down");
            
        }
    });

    var myinfo = document.getElementById("myinfo");
    var btn = document.getElementById('custom');
    var basic = document.getElementById("default");

    // btn.onclick = function(){
        // myinfo.style.display="block";
        // basic.style.display="none";
    // }

    function custom_on() {
        myinfo.style.display="block";
        basic.style.display="none";
    }
    // function funcreset(){}
</script>
