<%# <marquee>공지사항입니다</marquee>  %>
<h1>걱정없식</h1>
<h2>검색하기</h2>

<%= link_to '알레르기 검색', menus_search_path %><br>
<%= link_to '식당으로 검색', restaurants_search_path%><br>

<div class="container">
  <h1 style = "margin-top: 40px; text-align: center"> HOME </h1>
  <h1 style = "margin-top: 40px; text-align: center"> </h1>
  <div class="form-group" style="margin-top: 50px; text-align: center">
    <% if user_signed_in? %>
      <p> 현재 로그인된 유저의 이름: <%= current_user.name %> </p>    
      <p> 현재 로그인된 유저의 이메일: <%= current_user.email %> </p>
      <p> 현재 로그인된 유저의 성별: <%= current_user.gender %> </p>
      <p> 현재 로그인된 유저의 연령대: <%= current_user.ages %> </p>      
      <p> 현재 로그인된 유저의 알러지정보: <%= current_user.allergy.gsub(',','') %> </p>      
      <p><%= link_to('정보수정', edit_user_registration_path) %></p>
      <%# <p><%= link_to('정보업데이트', editsns_path) %>
    <%end%>
</div>

<!--공지 팝업창 그날 하루 올라온 식당만.(수정가능)ㅇ-->
 <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h5>새로운 식당이 업데이트 되었습니다.</h5>
    <b><%=@date.to_s%></b>
     <% for n in 0..@todays %>
     <h7> <%=@today_contents[n]%></h7>
     <% end %> <br>
    <p><input type="checkbox" value="OK" onclick="javascript:closeWinAt00('myModal', 1);"/>오늘만 이 창을 열지 않음 </p>
  </div>
</div>

<style> 
/* 임시 ***************/
#no{
  width:200px;
  margin-left:38%;
}
/***********************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width:30%;
    margin-right:80px;
    margin-left:70px;
}

/* The Close Button */
.close {
    text-align: right;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

<% if @todays != 0  %>
 <script>  
 openWin('myModal');  
  var modal = document.getElementById('myModal');
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
          modal.style.display = "none";   
  }
 </script>  
<% end  %>

  <!--혜진 임시 크롤링 버튼-->
  <%= link_to "크롤링 업데이트", "/crawling"%>
</div>


