
=======
<h1>걱정없식</h1>
<h2>검색하기</h2>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
v
스크롤<br>
>>>>>>> a167a49f48c8fddc3498a51c761effcb95f34bd7

<<<<<<< HEAD
<!-- 배경화면 -->
<div style="align:center; ">
  <%= image_tag "background.png" %>
=======
<%= link_to '알레르기 검색', menus_search_path %><br>
<%= link_to '식당으로 검색', restaurants_search_path%><br>

<div class="container">
  <h1 style = "margin-top: 40px; text-align: center"> HOME </h1>
  <h1 style = "margin-top: 40px; text-align: center"> </h1>
  <div class="form-group" style="margin-top: 50px; text-align: center">
    <% if user_signed_in? %>
      <p> 현재 로그인된 유저의 이름: <%= current_user.name %> </p>    
      <p> 현재 로그인된 유저의 이메일: <%= current_user.email %> </p>
      <p> 현재 로그인된 유저의 성별: <%= current_user.gender %> </p>
      <p> 현재 로그인된 유저의 연령대: <%= current_user.ages %> </p>      
      <p> 현재 로그인된 유저의 알러지정보: <%= current_user.allergy.gsub(',','') %> </p>      
      <p><%= link_to('정보수정', edit_user_registration_path) %></p>
      <%# <p><%= link_to('정보업데이트', editsns_path) %>
      
      <p> <%= link_to "로그아웃", destroy_user_session_path, 
              method: :delete, data: {confirm: "로그아웃 하시겠습니까?"},
              class: 'btn btn-default' %> </p>
    <% else %>
      <p> <%= link_to "로그인", new_user_session_path, class: 'btn btn-default' %> </p>
    <% end %>
  </div>


  <div class= "field"> 식당을 등록하시려면 사업자 번호를 확인해주세요. ===임시
    <%= form_tag(root_path, method: :get) do %>
      <%= text_field_tag :rt_num, params[:rt_num], placeholder: '사업자번호 앞6자리' %>
      <%= submit_tag 'Search'%>
    <% end %>
    <%= @result%>
  </div> 

  <!--혜진 임시 크롤링 버튼-->
  <%= link_to "크롤링 업데이트", "/crawling"%>
>>>>>>> 7f830e0209f7d156b931e599e835d5d9991c1bc5
</div>


<!-- 메인화면 : 전체 가운데 정렬 -->
<body>

<main role="main" class="inner cover" text-align="center" padding="0 1.5rem">
    <h5 class="cover-heading" align="center">
        식품 알레르기 보유자를 위한 정보 제공
    </h5>
    <p class="lead"> <!-- 로고 이미지 --> </p>
    <div text-align="center" style="width:30%">
    <p class="lead d-flex justify-content-between" align="center">
        <%# <a href="#" class="btn btn-lg btn-secondary-light">
        식당으로 검색하기</a> %>
        <button type="button" class="btn btn-light">
            <%= link_to '식당으로 검색', restaurants_search_path%>
        </button>

        <%# <a href="#" class="btn btn-lg btn-secondary-light">
        알레르기로 검색하기</a> %>
        <button type="button" class="btn btn-light">
            <%= link_to '알레르기 검색', menus_search_path %><br>
        </button>
    </div>
    </p>


</main>
</body>

<!-- footer -->
<footer class="mastfoot mt-auto" margin-top="auto" align="left">
    <div class="inner">
        <p>Cover template for <a href="/#">걱정없食</a> , by <a href="/#">헬푸</a>. (2018, All rights Reserved.)</p>
    </div>
</footer>