<div class="logincontent irop">
  <%= image_tag 'login.jpg', class:"loginimage" %>
  <div class="loginform">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <div>
          <%= f.label "이메일" %><br><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",  required: false ,class:"logininputform"%>
        </div>
        <div>
          <%= f.label "비밀번호" %><br><br>
          <%= f.email_field :email, required: false, input_html: { autocomplete: "current-password"} %>
        </div>
        <div>
          <div>
            <span><%= f.label "이메일 기억하기" %></span>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div>
            <%= render "devise/shared/links", class:"loginbutton" %> 
          </div>
        </div>
      </div>

      <div>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%- if OmniAuth::Utils.camelize(provider) == "Kakao"  %> 
              <div class= "kakao">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
              </div>
            <%- elsif OmniAuth::Utils.camelize(provider) == "GoogleOauth2"  %>  
              <div class= "google">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)%>
                <br />
              </div>
            <%- elsif OmniAuth::Utils.camelize(provider) == "Facebook"  %>  
              <div class= "facebook">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
              </div> 
             <% end %>  
          <% end -%>
        <% end -%>
        <div>
          <%= f.button :submit, "Log In", class: "loginbutton"  %>
        </div>
      </div>

      
    <% end %>
    
    
  </div>
</div>


