<h1>Userrequests#new</h1>
<p>Find me in app/views/userrequests/new.html.erb</p>


<%= form_for @menu, url: {action: "create"}, html: {class: "클래스이름 여기!"} do |f| %>
  <div class="field">
    <%= f.label :menu_name %>
    <%= f.text_field :menu_name%>
  </div> 

  <div class="field">
    <%= f.label :restaurant_name %>
    <%= f.text_field :restaurant_name%>
  </div> 

  <div class="field">
    <%= f.hidden_field :restaurant_id, value: @r_id%>   
  </div> 


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<p><%=@menu.id%></p>
<p>메뉴이름 : <%=@menu.menu_name%></p>
<p>식당이름 : <%=@menu.restaurant_name%></p>
<p>식당id : <%=@menu.restaurant_id%></p>

<p>알러지정보</p>
<p>메밀<%=@menu.a1_maemil%></p>
<p>밀<%=@menu.a2_mil%></p>
<p>대두<%=@menu.a3_daedu%></p>
<p>호두<%=@menu.a4_hodu%></p>
<p>땅콩<%=@menu.a5_ddangkong%></p>
<p>복숭아<%=@menu.a6_peach%></p>
<p>토마토<%=@menu.a7_tomato%></p>
<p>돼지고기<%=@menu.a8_piggogi%></p>
<p>난류<%=@menu.a9_nanryu%></p>
<p>우유<%=@menu.a10_milk%></p>
<p>닭고기<%=@menu.a11_ddakgogi%></p>
<p>쇠고기<%=@menu.a12_shoigogi%></p>
<p>새우<%=@menu.a13_saewoo%></p>
<p>고등어<%=@menu.a14_godeungeoh%></p>
<p>홍합<%=@menu.a15_honghap%></p>
<p>전복<%=@menu.a16_junbok%></p>
<p>굴<%=@menu.a17_gul%></p>
<p>조개류<%=@menu.a18_jogaeryu%></p>
<p>게<%=@menu.a19_gye%></p>
<p>오징어<%=@menu.a20_ohjingeoh%></p>
<p>아황산<%=@menu.a21_ahwangsan%></p>