<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @restaurant.string %>
</p>

<p>
  <strong>Sido:</strong>
  <%= @restaurant.sido %>
</p>

<p>
  <strong>String:</strong>
  <%= @restaurant.string %>
</p>

<p>
  <strong>Sigungu:</strong>
  <%= @restaurant.sigungu %>
</p>

<p>
  <strong>String:</strong>
  <%= @restaurant.string %>
</p>

<p>
  <strong>Doromyeong:</strong>
  <%= @restaurant.doromyeong %>
</p>

<p>
  <strong>String:</strong>
  <%= @restaurant.string %>
</p>

<p>
  <strong>Gunmul bunho1:</strong>
  <%= @restaurant.gunmul_bunho1 %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @restaurant.integer %>
</p>

<p>
  <strong>Gunmul bunho2:</strong>
  <%= @restaurant.gunmul_bunho2 %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @restaurant.integer %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>String:</strong>
  <%= @restaurant.string %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
