<p id="notice"><%= notice %></p>

<h1>Allergies</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @allergies.each do |allergy| %>
      <tr>
        <td><%= allergy.id%></td>
        <td><%= allergy.menu_name%></td>
        <td><%= link_to 'Show', restaurant_allergy_path(allergy.restaurant_id, allergy) %></td>
        <td><%= link_to 'Edit', edit_restaurant_allergy_path(allergy.restaurant_id, allergy) %></td>
        <td><%= link_to 'Destroy', restaurant_allergy_path(allergy.restaurant_id, allergy), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allergy', new_allergy_path %>
