<%# ------------검색결과가 뜨는 페이지------------------ %>

<p id="notice"><%= notice %></p>
<h1>Restaurants</h1>


<div class="d-flex justify-content-around">
  <div>
    <table>
      <tbody>
        <% @restaurants.each do |restaurant| %>
          <br>
          <h3><%= restaurant.restaurant_name %></h3>
            <% @allergies.where(:restaurant_id => restaurant.id).each do |allergy|%>
              <%= allergy.menu_name%><br>
            <% end%>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="box">
    해당 메뉴가 뜰 자리.
  </div>
</div>



<%# //-----------------수정 전 -------------------------- %>

<h1>=========수정 전 Allergies=====</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @allergies.each do |allergy| %>
      <tr>
        <td><%= allergy.id%></td>
        <td><%= allergy.menu_name%></td>
        <td><%= link_to 'Show', restaurant_allergy_path(allergy.restaurant_id, allergy) %></td>
        <td><%= link_to 'Edit', edit_restaurant_allergy_path(allergy.restaurant_id, allergy) %></td>
        <td><%= link_to 'Destroy', restaurant_allergy_path(allergy.restaurant_id, allergy), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Allergy', new_allergy_path %>
