<p id="notice"><%= notice %></p>

<p>
  <strong>restaurant_name:</strong>
  <%= @zizuminfo.restaurant_name %>
</p>

<p>
  <strong>zizum name:</strong>
  <%= @zizuminfo.zizum_name%>
</p>

<p>
  <strong>Sido:</strong>
  <%= @zizuminfo.sido + " " +@zizuminfo.sigungu + " " +@zizuminfo.sangse_juso %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @zizuminfo.phone_number %>
</p>

<!--#############################################################################################-->
<p>메뉴</p>
<table>
  <thead>
    <tr>
      <th>메뉴 ID</th>
      <th>메뉴 이름</th>
      <th>메밀</th>
      <th>밀</th>
      <th>대두</th>
      <th>호두</th>
      <th>땅콩</th>
      <th>복숭아</th>
      <th>토마토</th>
      <th>돼지고기</th>
      <th>난류</th>
      <th>우유</th>
      <th>닭고기</th>
      <th>쇠고기</th>
      <th>새우</th>
      <th>고등어</th>
      <th>홍합</th>
      <th>전복</th>
      <th>굴</th>
      <th>조개류</th>
      <th>게</th>
      <th>오징어</th>
      <th>아황산</th>
      <!--colspan -3로 수정 예정-->
      <th>수정</th>
      <th>삭제</th>
      <th>수정요청</th>
    </tr>
  </thead>

  <tbody>
    <% @zizuminfo.restaurant.menus.each do |menu| %>
      <tr>
        <td><%= menu.id%></td>
        <td><%= menu.menu_name%></td>
        <td><%= menu.a1_maemil%></td>
        <td><%= menu.a2_mil%></td>
        <td><%= menu.a3_daedu%></td>
        <td><%= menu.a4_hodu%></td>
        <td><%= menu.a5_ddangkong%></td>
        <td><%= menu.a6_peach%></td>
        <td><%= menu.a7_tomato%></td>
        <td><%= menu.a8_piggogi%></td>
        <td><%= menu.a9_nanryu%></td>
        <td><%= menu.a10_milk%></td>
        <td><%= menu.a11_ddakgogi%></td>
        <td><%= menu.a12_shoigogi%></td>
        <td><%= menu.a13_saewoo%></td>
        <td><%= menu.a14_godeungeoh%></td>
        <td><%= menu.a15_honghap%></td>
        <td><%= menu.a16_junbok%></td>
        <td><%= menu.a17_gul%></td>
        <td><%= menu.a18_jogaeryu%></td>
        <td><%= menu.a19_gye%></td>
        <td><%= menu.a20_ohjingeoh%></td>
        <td><%= menu.a21_ahwangsan%></td>
        <td><%= link_to '메뉴 수정', edit_menu_path(menu) %></td>
        <td><%= link_to '메뉴 삭제', menu, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <td><%= link_to '수정 요청' %></td>  <!--new_menu_path(restaurant_id: @zizuminfo.restaurant.id)-->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '메뉴 추가', new_menu_path %>
<%= link_to '추가 요청' %> <!--new_menu_path(restaurant_id: @zizuminfo.restaurant.id)-->
<!--#############################################################################################-->


<%= link_to 'Edit', edit_zizuminfo_path(@zizuminfo) %> |
<%= link_to 'Back', zizuminfos_path %>
