<p id="notice"><%= notice %></p>

<% if @zizuminfo.followed_by?(current_user) %>
<!-- 좋아요를 했다면 -->
    <%# link_to (fa_icon('thumbs-up', style: 'color: blue'), like_article_path, method: :post) %>
    <p class="card-text"><%= link_to(fa_icon('heart', class: "like icon"), zizum_back_follow_path, method: :post) %> (<%=@zizuminfo.followers_count%>)</p>
<!-- 좋아요를 안 했다면 -->
<% else %>
    <%# link_to (fa_icon('thumbs-up', style: 'text-decoration: none'), like_article_path, method: :post) %>
    <p class="card-text"><%= link_to(fa_icon('heart', class: "unlike icon"), zizum_back_follow_path, method: :post) %> (<%=@zizuminfo.followers_count%>)</p>
<% end %>

<p>
해당 게시물에 라이크를 누른 유저 리스트: 
<% @zizuminfo.followers.each do |follower|%>
  <%= link_to follower.name, profile_path(follower.profile.id) %>
<%end %>
</p>

<p>
  <strong>restaurant_name:</strong>
  <%= @zizuminfo.restaurant_name %>
</p>

<p>
  <strong>zizum name:</strong>
  <%= @zizuminfo.zizum_name%>
</p>

<p>
  <strong>Sido:</strong>
  <%= @zizuminfo.sido + " " +@zizuminfo.sigungu + " " +@zizuminfo.sangse_juso %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @zizuminfo.phone_number %>
</p>

<!--#############################################################################################-->
<p>메뉴</p>
<table>
  <thead>
    <tr>
      <th>메뉴 ID</th>
      <th>메뉴 이름</th>
      <th>메밀</th>
      <th>밀</th>
      <th>대두</th>
      <th>호두</th>
      <th>땅콩</th>
      <th>복숭아</th>
      <th>토마토</th>
      <th>돼지고기</th>
      <th>난류</th>
      <th>우유</th>
      <th>닭고기</th>
      <th>쇠고기</th>
      <th>새우</th>
      <th>고등어</th>
      <th>홍합</th>
      <th>전복</th>
      <th>굴</th>
      <th>조개류</th>
      <th>게</th>
      <th>오징어</th>
      <th>아황산</th>
      <!--colspan -3로 수정 예정-->
      <th>수정</th>
      <th>삭제</th>
      <th>수정요청</th>
    </tr>
  </thead>
<%# Menu.where(:restaurant_name => @zizuminfo.restaurant_name) %>
  <tbody>
    <% Menu.where(:restaurant_name => @zizuminfo.restaurant_name).each do |menu| %>
      <tr>
        <td><%= menu.id%></td>
        <td><%= menu.menu_name%></td>
        <td><%= menu.a1_maemil%></td>
        <td><%= menu.a2_mil%></td>
        <td><%= menu.a3_daedu%></td>
        <td><%= menu.a4_hodu%></td>
        <td><%= menu.a5_ddangkong%></td>
        <td><%= menu.a6_peach%></td>
        <td><%= menu.a7_tomato%></td>
        <td><%= menu.a8_piggogi%></td>
        <td><%= menu.a9_nanryu%></td>
        <td><%= menu.a10_milk%></td>
        <td><%= menu.a11_ddakgogi%></td>
        <td><%= menu.a12_shoigogi%></td>
        <td><%= menu.a13_saewoo%></td>
        <td><%= menu.a14_godeungeoh%></td>
        <td><%= menu.a15_honghap%></td>
        <td><%= menu.a16_junbok%></td>
        <td><%= menu.a17_gul%></td>
        <td><%= menu.a18_jogaeryu%></td>
        <td><%= menu.a19_gye%></td>
        <td><%= menu.a20_ohjingeoh%></td>
        <td><%= menu.a21_ahwangsan%></td>
        <td><%= link_to '메뉴 수정', edit_menu_path(menu) %></td>
        <td><%= link_to '메뉴 삭제', menu, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <td><%= link_to '수정 요청', userrequests_edit_request_url(menuID: menu.id) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '메뉴 추가', new_menu_path %>
<%= link_to '추가 요청', userrequests_new_request_url(restaurantID: @zizuminfo.restaurant.id)%> 
<!--#############################################################################################-->


<%= link_to 'Edit', edit_zizuminfo_path(@zizuminfo) %> |
<%= link_to 'Back', zizuminfos_path %>

<%# // 네이버 지도 - 특정 주소에 마커 표시 - web
// https://openapi.map.naver.com/openapi/v3/maps.js?clientId=YOUR_CLIENT_ID&submodules=geocoder
// 위에서 YOUR_CLIENT_ID는 애플리케이션 등록시 발급되는 20자리 영문 대문자와 소문자 조합입니다 예) VagkBddrZ5JdHbcd5DfK (O)
// 구 API키 (32글자의 영어 소문자와 숫자 조합)은 사용불가 예) f8a20b93f0bf315be90d4a35145ef0fa (X) %>

<html>
  <head>
      <meta charset="UTF-8">
      <title>네이버 지도 API - 주소로 지도 표시하기</title>
      <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=BFMZDJmdWOjBoYdn_A7b&submodules=geocoder"></script>
  </head>
  <body>
    <div id="map" style="width:100%;height:400px;"></div>
    <script>
        var map = new naver.maps.Map('map');
        var myaddress = '<%= @zizuminfo.sido + " " +@zizuminfo.sigungu + " " +@zizuminfo.sangse_juso %>';
        // 여기다가 Sido + Sigungu + Sangse juso를 넣어라!
        // <%= @zizuminfo.sido + " " +@zizuminfo.sigungu + " " +@zizuminfo.sangse_juso %>

        // 도로명 주소나 지번 주소만 가능 (건물명 불가!!!!)
        // 불정로 6    
        naver.maps.Service.geocode({address: myaddress}, function(status, response) {
          if (status !== naver.maps.Service.Status.OK) {
              return alert(myaddress + '의 검색 결과가 없거나 기타 네트워크 에러');
          }
        var result = response.result;
          // 검색 결과 갯수: result.total
          // 첫번째 결과 결과 주소: result.items[0].address
          // 첫번째 검색 결과 좌표: result.items[0].point.y, result.items[0].point.x
        var myaddr = new naver.maps.Point(result.items[0].point.x, result.items[0].point.y);
          map.setCenter(myaddr); // 검색된 좌표로 지도 이동
          // 마커 표시
        var marker = new naver.maps.Marker({
            position: myaddr,
            map: map
          });
          // 마커 클릭 이벤트 처리
        naver.maps.Event.addListener(marker, "click", function(e) {
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
            }
          });
          // 마크 클릭시 인포윈도우 오픈
        var infowindow = new naver.maps.InfoWindow({
            content: '<h5> <%= @zizuminfo.restaurant_name %> <br> <%= @zizuminfo.zizum_name%> </h5> <%= @zizuminfo.sido + " " +@zizuminfo.sigungu + " " +@zizuminfo.sangse_juso %> <br> 전화번호 : <%= @zizuminfo.phone_number %></a>',
          // 위에 Zizum Name 넣고
          // <%= @zizuminfo.restaurant_name %>
          // <%= @zizuminfo.zizum_name%>
          // 아래에 주소 (Sido + Sigungu + Sangse juso)
          // <%= @zizuminfo.sido + " " +@zizuminfo.sigungu + " " +@zizuminfo.sangse_juso %>
          // 전화번호
          // <%= @zizuminfo.phone_number %>
          
            maxWidth: 180,
            backgroundColor: "#eee",
            borderColor: "#2db400",
            borderWidth: 5,
            anchorSize: new naver.maps.Size(30, 30),
            anchorSkew: true,
            anchorColor: "#eee",
            pixelOffset: new naver.maps.Point(20, -20)
          });
        });
        </script>
   </body>
</html>

<script>

    $(".icon").click(function(){
        if ($(this).hasClass("like")) //follow하고 있다면
            {
                $(this).removeClass("like");
                $(this).addClass("unlike");
            }
        else if ($(this).hasClass("unlike"))
            {
                $(this).removeClass("unlike");
                $(this).addClass("like");
            }
    });
</script> 