<p id="notice"><%= notice %></p>

<p>
  <strong>restaurant_name:</strong>
  <%= @zizuminfo.restaurant_name %>
</p>

<p>
  <strong>zizum name:</strong>
  <%= @zizuminfo.zizum_name%>
</p>

<p>
  <strong>Sido:</strong>
  <%= @zizuminfo.sido %>
</p>

<p>
  <strong>Sigungu:</strong>
  <%= @zizuminfo.sigungu %>
</p>

<p>
  <strong>sangse_juso</strong>
  <%= @zizuminfo.sangse_juso %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @zizuminfo.phone_number %>
</p>


<!--#############################################################################################-->
<p>메뉴</p>
<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @zizuminfo.restaurant.menus.each do |menu| %>
      <tr>
        <td><%= menu.id%></td>
        <td><%= menu.menu_name%></td>
        <td><%= link_to '메뉴 보기', menu %></td>
        <td><%= link_to '메뉴 수정', edit_menu_path(menu) %></td>
        <td><%= link_to '메뉴 삭제', menu, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <!--<td><%#= link_to '수정 요청', %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '메뉴 추가', new_menu_path(restaurant_id: @zizuminfo.restaurant.id) %>
<!--#############################################################################################-->


<%= link_to 'Edit', edit_zizuminfo_path(@zizuminfo) %> |
<%= link_to 'Back', zizuminfos_path %>
