<%= form_tag(menus_path, method: :get) do %>
    <%= text_field_tag :sido, params[:sido]%>
    <br>
     <div class="d-flex justify-content-between">
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">유제품 및 난류</button></div>
            <div >
                난류: <%= check_box_tag :a9_nanryu, true, current_user.allergy.include?('난류')%><br>
                우유: <%= check_box_tag :a10_milk,true, current_user.allergy.include?('우유')%><br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">과채류 및 곡류</button></div>
            <div>
                복숭아: <%= check_box_tag :a6_peach, true, current_user.allergy.include?('복숭아')%><br>
                토마토: <%= check_box_tag :a7_tomato,true, current_user.allergy.include?('토마토')%><br>
                메밀: <%= check_box_tag :a1_maemil, true, current_user.allergy.include?('메밀')%><br>
                밀: <%= check_box_tag :a2_mil,  true, current_user.allergy.include?('밀') %><br>
                대두(콩): <%= check_box_tag :a3_daedu,  current_user.allergy.include?('대두(콩)')%><br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">육류</button></div>
            <div>
                닭고기: <%= check_box_tag :a11_ddakgogi, true, current_user.allergy.include?('닭고기')%><br>
                쇠고기: <%= check_box_tag :a12_shoigogi,true, current_user.allergy.include?('쇠고기')%><br>
                돼지고기: <%= check_box_tag :a8_piggogi,true, current_user.allergy.include?('돼지고기')%><br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">어패류</button></div>
            <div>
                새우: <%= check_box_tag :a13_saewoo,true, current_user.allergy.include?('새우')%><br>
                고등어: <%= check_box_tag :a14_godeungeoh, true, current_user.allergy.include?('고등어')%><br>
                홍합: <%= check_box_tag :a15_honghap, true, current_user.allergy.include?('홍합')%><br>
                전복: <%= check_box_tag :a16_junbok,true, current_user.allergy.include?('전복')%><br>
                굴: <%= check_box_tag :a17_gul, true, current_user.allergy.include?('굴')%><br>
                조개류: <%= check_box_tag :a18_jogaeryu, true, current_user.allergy.include?('조개류')%><br>
                게: <%= check_box_tag :a19_gye,true, current_user.allergy.include?('게')%><br>
                오징어: <%= check_box_tag :a20_ohjingeoh,true, current_user.allergy.include?('오징어')%><br>
            </div>
        </div>
        <div>
            <div class="a-type"><button type="button" class="btn btn-outline-secondary">과류, 아황산 및 기타</button></div>
            <div>
                호두: <%= check_box_tag :a4_hodu, true, current_user.allergy.include?('호두')%><br>
                땅콩: <%= check_box_tag :a5_ddangkong,true, current_user.allergy.include?('땅콩')%><br>
                아황산류: <%= check_box_tag :a21_ahwangsan, true, current_user.allergy.include?('아황산류')%><br>
            </div>
        </div>
    </div>
    <%= submit_tag 'Search'%>
<%end%>