<header>
    <div class="navbarstyle" >
        <div>걱정없식</div>
        <div class="navbarcontent">
            <div><%= link_to "About", %>
            About</div>
            <div>Restaurant</div>
            <div>Filtering</div>
            <div>
            <% if user_signed_in? %> 
                <% if current_user.profile.nil? %>
                    <%= link_to "나만의 페이지", new_profile_path(@profile), :style=>'color:#454338' %>
                <% elsif !current_user.profile.nil? %>
                    <%= link_to "나만의 페이지", profile_path(current_user.profile.id), :style=>'color:#454338'  %>
                <% end %>
            <% end %>
            </div>
            <!-- 로그인 버튼 -->
            <div>
                <% if !user_signed_in? %> 
                    <%= link_to "로그인", new_user_session_path, :style=>'color:#454338'%>
                <% elsif user_signed_in?%>
                    <%= link_to "로그아웃", destroy_user_session_path, method: :delete, :style=>'color:#454338' %>
                <% end %>
            </div>
        </div>
    </div>
</header>

