<div id="navbar" class="navbarstyle" >
    <div><%= link_to "/" do %>
            <%= image_tag 'logo.png', class:"logo" %>
         <% end %></div>
    <div class="navbarcontent">
        <div id="about"><%= link_to "About", home_about_path, :style=>'color:#454338' %></div>
        <div id="restaurant"><%= link_to "Restaurant", restaurants_search_path, :style=>'color:#454338' %></div>
        <div id="filtering">Filtering</div>
        <div id="mypage">
        <!-- 마이페이지 -->
        <% if user_signed_in? %> 
            <% if current_user.profile.nil? %> 
                <%= link_to "My Page", new_profile_path(@profile), :style=>'color:#454338' %>
            <% elsif !current_user.profile.nil? %>
                <%= link_to "My Page", profile_path(current_user.profile.id), :style=>'color:#454338'  %>
            <% end %>
        <% end %>
        </div>
        <!-- 로그인/로그아웃 -->
        <div id="sign">
            <% if !user_signed_in? %> 
                <%= link_to "Log In", new_user_session_path, :style=>'color:#454338' %>
            <% elsif user_signed_in?%>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, :style=>'color:#454338' %>
            <% end %>
        </div>
    </div>
</div>

<script>
$(document).scroll(function() {
    if($(this).scrollTop() == 0)
        $('#navbar').css('background-color','rgba(255, 255, 255, 0.5)');
    else
        $('#navbar').css('background-color','rgba(255, 255, 255, 1)');
});

</script>
