<div id="navbar" class="navbarstyle">
    <div><%= link_to "/" do %>
            <%= image_tag 'logo.png', class:"logo" %>
         <% end %></div>
    <div class="navbarcontent"> 
        <div><%= link_to "About", home_about_path, class:"jeju", :style=>"text-decoration: none;  color: #454338;" %>        </div>
        <div><%= link_to "Restaurant", zizuminfos_search_path, class:"jeju", :style=>"text-decoration: none; color: #454338;" %></div>
        <div><%= link_to "Filtering", menus_path, class: "jeju", :style=>"text-decoration: none; color: #454338;" %></div>
        <div>
        <!-- 마이페이지 -->
            <% if user_signed_in? %> 
                <% if current_user.profile.nil? %> 
                    <%= link_to "My Page", new_profile_path(@profile), class:"jeju", :style=>"text-decoration: none; color: #454338;" %>
                <% elsif !current_user.profile.nil? %>
                    <%= link_to "My Page", profile_path(current_user.profile.id), class:"jeju", :style=>"text-decoration: none; color: #454338;"  %>
                <% end %>
            <% elsif owner_signed_in?%>
                <%= link_to "나의 식당관리", home_myrt_path,  class:"jeju", :style=>"text-decoration: none; color: #454338;" %>    
            <% end %>
        </div>
        <!-- 로그인/로그아웃 -->
        <div>
            <% if !user_signed_in? && !owner_signed_in? %> 
                <%= link_to "Log In", new_user_session_path, class:"jeju", :style=>"text-decoration: none; color: #454338;" %>
            <% elsif user_signed_in?%>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"jeju", :style=>"text-decoration: none; color: #454338;" %>
             <% elsif owner_signed_in?%>
                <%= link_to "로그아웃", destroy_owner_session_path, method: :delete, class:"jeju", :style=>"text-decoration: none; color: #454338;" %>     
            <% end %>
        </div>

        <!-- 알림창 -->
        <div>
            <% if user_signed_in? %>
                <a onclick="showHide('info_html')" onfocus="this.blur()" style="color:white;margin-top:7px;"><b> 알림 (<%= current_user.new_alarms.unread_by(current_user).count %>)</b></a>
                <div id="info_html" style="display:none; margin-top: 10px;">
                    <%= render partial: "new_alarms/new_alarm", collection: current_user.new_alarms.unread_by(current_user) %>
                    <%= link_to '<b>X</b>'.html_safe, new_alarms_read_all_path %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
$(document).scroll(function() {
    if($(this).scrollTop() == 0)
        $('#navbar').css('background-color','rgba(255, 255, 255, 0.5)');
    else
        $('#navbar').css('background-color','rgba(255, 255, 255, 1)');
});
</script>