<!DOCTYPE html>
<html>
  <head>
    <title>Helpfood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>

  <body class="container">
  
  <%# 알림창  %>
  <% if user_signed_in? %>
      <a onclick="showHide('info_html')" onfocus="this.blur()"><b>알림(<%= current_user.new_alarms.unread_by(current_user).count %>)</b></a>
      <div id="info_html" style="display:none; margin-top: 10px;">
        <%= render partial: "new_alarms/new_alarm", collection: current_user.new_alarms.unread_by(current_user) %>
        <%= link_to '<b>모든 알림 지우기</b>'.html_safe, new_alarms_read_all_path %>
      </div>
  <% end %>

  <%= yield %>
  </body>
  <script>
    function showHide(id) {
    var obj = document.getElementById(id);
      if (obj.style.display == 'none')
       obj.style.display = 'block';
      else
       obj.style.display = 'none';  
    }
  </script>
</html>

